body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

canvas {
  background-color: white;
  border: 2px solid black;
  margin-top: 10px;
}

.hint {
  font-size: 18px;
}

#message {
  color: green;
  margin-top: 20px;
}
